<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.pessoal.agenda.mobile.fieldtest.FieldTestAlertReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.pessoal.agenda.mobile.fieldtest.PUBLISH_FIXTURE_ALERT" />
                <action android:name="com.pessoal.agenda.mobile.fieldtest.PUBLISH_VIBRATION_RELAY_FIXTURE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
